<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top d-none d-sm-block">
	<div class="container">
  <!-- Brand -->
  <a class="navbar-brand" href="#"><div class="logo"><img src="../../../assets/images/logo.png"  class="img-fluid" alt=""></div></a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
       <li class="nav-item">
          <a class="nav-link" routerLink="">Home   </a>
        </li>
		
     
     
     
     
       <li class="nav-item">
        <a class="nav-link" href="#contact">  Contact </a>
      </li>  
    </ul>

    
  </div> 
  </div>
</nav>

<header id="top-jb">
    <div class="overlay">
          <img src="../../../assets/images/bg1.png" class="img-fluid ps1" alt="">
        <img src="../../../assets/images/bg2.png" class="img-fluid ps2" alt="">
    </div>
  
    <div class="container h-100">
      <div class="d-flex h-100 text-center ">
        <div class="w-100 text-white">
         
     <h1 class="mt-5 pt-5">Job Details</h1>
        </div>
      </div>
    </div>
  </header>
  
  <section id="section-j1" class="">
  <div class="container ">
    <h2 class="text-white text-uppercase">HIRING NOW <br>
  {{jobdetail?.title}}</h2>
    <p class="text-white">{{jobdetail?.description}}</p>
  
 
  
  <div class="row mt-5 jb-txt pt-5">
    <div class="col-lg-6">
      <img src="../../../assets/images/j-person.png" class="img-fluid d-block m-auto" alt="">
    </div>
     <div class="col-lg-6">
       <h3 class="clr-p text-uppercase">Skills & responsibilities</h3>
       <ul class="text-white">
         <li class="pb-2">{{jobdetail?.skill}}</li>
 
       </ul>
  
          <h3 class="clr-p text-uppercase mt-5">TECHNICAL REQUIREMENTS</h3>
       <ul class="text-white">
         <li class="pb-2">{{jobdetail?.technical_description}}</li>
  
       </ul>
  
       <p class="mt-5 text-white">This is an exciting opportunity for someone looking for their next challenge. We’re a passionate group of storytellers, creatives, and developers and we encourage applications of a diverse range.</p> 
  <p class="text-white">If this sounds like your type of game, company and role we would love to hear from you. Send your CV to :</p>
  
  
    <div class="position-relative wd">
  <img src="../../../assets/images/ann.png" class="img-fluid" style="width: 350px" alt="">
  <div class="position-absolute pss ">
    <div class="media">
    <i class="fa fa-gamepad mr-3 fs-size" aria-hidden="true"></i>
    <div class="media-body">
      <h6 class="mt-0 mb-0">{{jobdetail?.title}}</h6>
      
    
    </div>
  </div>
  <h4 class="font-weight-bold pl-4 mb-0">Send us your CV to apply</h4>
  <a href="" class="text-danger pl-4">timetravel@wanderervr.com</a>
  </div>
  </div>
  
     </div>
  </div>
  </div>
  
    
  <img src="../../../assets/images/bg-bottomj.png" class="w-100  " alt="">  
  
  </section>
  
  <footer id='contact'>
    <img src="../../../assets/images/bg-bottom.png" class="w-100  " alt="">
 <div class="container text-white">
   <div class="row ne-m mb-5">
     <div class="col-lg-6 ">
       <form action="" class="form px-4 pt-5 pb-4">
         <div class="row">
     <div class="col-lg-6">
       <input type="text" class="form-control" placeholder="Name">
     </div>
     <div class="col-lg-6">
       <input type="email" class="form-control" placeholder="Email">
     </div>
     <div class="col-lg-12 mt-3">
           <textarea class="form-control" id="" placeholder="Message" rows="3"></textarea>
     </div>
 
   </div>
  <button type="button" class="btn btn-primary btn-block mt-3 py-2">Send</button>
       </form>
     </div>
      <div class="col-lg-6">
        <h2>GET IN TOUCH</h2>
        <p>This email looks relativity insignificant but this humble address is a mighty crossroad, between the status quo, and your role in the future of entertainment, decisions decisions…</p>
      </div>
   </div>
 </div>
 <img src="../../../assets/images/line.png" class="img-fluid" alt="">
 <div class="container">
   <div class="row py-4">
     <div class="col-lg-6">
       <div class="social">
         <a href="#" class="fa fa-facebook pl-4"></a>
         <a href="#" class="fa fa-instagram"></a>
         <a href="#" class="fa fa-twitter"></a>
         <a href="#" class="fa fa-youtube"></a>
       </div>
     </div>
       <div class="col-lg-6">
         <p class="text-right">2019 © Copyrights Beyond Studio LTD</p>
       </div>
   </div>
 </div>
   </footer>