html {
  scroll-behavior: smooth;
}
body{
font-family: 'Roboto', sans-serif;
   
	font-weight:300;

}

h1 
{ 

font-family: 'Roboto', sans-serif;
	
	
		
		
} 
a:hover{
	text-decoration:none;
    color: unset;
}

h2, h3, h4, h5, h6 
{
	
font-family: 'Roboto', sans-serif;

	
	
}
p 
{
	line-height: 22px;
font-family: 'Roboto', sans-serif;
font-weight: 400;
	    font-size: 15px;
	
}
p:last-child 
{
	margin-bottom:0px;
	
}
h1 {
    font-size: 50px;
    font-weight: 300;
    color: #000000
}

h2 
{
      color: #000000;
	    font-size: 40px;
		 font-weight: 600;
}
h3 
{
  color: #000000;
   font-size: 30px;
         font-weight: 600;
	
}
h4 
{
font-size: 25px;
     font-weight: 400;

}
h5 
{

    font-size: 18px;
    font-weight: 600;


}
h6 
{
 font-weight: 600;
	font-size: 15px;
}

.navbar.navbar-expand-md{
      background: url(../../assets/images/nav.png);
       background-repeat: no-repeat;
         background-position: center top;
          background-size: auto;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #F95184;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
       color: #F95184;
}

header{
   margin-top: 89px;
}
.logo {

}

.clr-dpink{
    color: #C42E63;
}
.clr-pink{
    color: #F95184;
}
nav.navbar.fixed-top.scrolled {
    box-shadow: 0px 0px 18px #cecece;
}
#section-1 {

    padding: 80px 0px;

}
.bg-pink{
    background: #ffd6e3;
}
.card {
    box-shadow: 0px 0px 14px #ccc !important;
}
.form-control {
    border-color: #f95184;
    text-align: right;
}
form.form.w-50.m-auto {
    width: 37% !important;
}
span.input-group-text.bg-pink {
    background: #f95184;
    border-color: #f95184;
    color: #fff;
    margin-right: 10px;
}
span.input-group-text.bg-white {
    border-color: #f95184;
}

footer{
    background: url(../../assets/images/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0px 0px 0px;
}
.bg-white.box {
    background: rgba(255, 255, 255, 0.6) !important;
    padding: 40px 20px 20px 20px;
}

/*========================footer========================*/

/*Responsive table*/
/*======
Media Queries
=======*/
/*========================*/
@media (min-width: 1200px) and (max-width: 2400px) {
    .db{
    display: none;
}
}

@media (min-width: 992px) and (max-width: 1199px) {
.db{
    display: none;
}	
}

@media (min-width: 768px) and (max-width: 1024px) {
h1 {
    font-size: 32px;
    font-weight: 300;
    color: 
    #000000;
}
.col-md-6.text-right.py-5.mt-5 {
    padding-top: 0px !important;
}
.btn.btn-pink {
    background: 
#f95184;
color:
    #fff;
    padding: 7px 25px;
    font-weight: 600;
    display: inline-block;
    margin-top: 11px;
}
.img-fluid.d-block.m-auto.tab-im {
    width: 100% !important;
}
.img-fluid.wd-100 {
    width: 49% !important;
}
h4 {
    font-size: 23px;
    font-weight: 400;
}
.row.tab .col-md-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 10px;
}
.d-no{
    display: none;
}
.media-body.text-white {
    font-size: 11px;
}
.text-white.d-block {
    font-size: 13px;
}
footer {
    background: url(../../assets/images/footer.png);
        background-repeat: repeat;
        background-size: auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 12px 0px 0px 0px;
  
}
form.form.w-50.m-auto {
    width: 55% !important;
}
    
}

@media (min-width: 768px) and (max-width: 991px) {

	
}
@media (min-width: 320px) and (max-width: 767px) {
.navbar-light .navbar-toggler {
    color: 
rgb(255, 255, 255);
border-color:
rgba(0,0,0,.1);
background:
    #f95184;
}
.display-none{
    display: none;
}
.btn.btn-pink {
    background: 
#f95184;
color:
    #fff;
    padding: 7px 25px;
    font-weight: 600;
    display: inline-block;
    margin-top: 11px;
}
h1 {
    font-size: 25px;
    font-weight: 300;
    color: 
    #000000;
}
h4 {
    font-size: 18px;
    font-weight: 400;
}
#section-3 {
    padding: 0px !important;
}
form.form.w-50.m-auto {
    width: 100% !important;
}
footer {
  
  
    padding: 0px 0px 0px 0px;
    background: 
    #f95184;
}
.bg-white.box {
    background: 
    rgba(255, 255, 255, 0) !important;
    padding: 17px 10px 20px 0px;
}
.bg-lightpink {
    background: 
    #fffdfe3d;
    padding: 20px;
        padding-top: 20px;
    border-radius: 11px;
}
.footer-form .form-control {
    background: 
#fa7aa1;
color:
    #fff;
}
}

@media (min-width: 320px) and (max-width: 480px) {
    .footer-form .form-control {
    background: 
#fa7aa1;
color:
    #fff;
}
    .bg-lightpink {
    background: 
    #fffdfe3d;
    padding: 20px;
        padding-top: 20px;
    border-radius: 11px;
}
    .bg-white.box {
    background: 
    rgba(255, 255, 255, 0) !important;
    padding: 17px 10px 20px 0px;
}
    footer {
   
    padding: 0px 0px 0px 0px;
    background: 
    #f95184;
}
    form.form.w-50.m-auto {
    width: 100% !important;
}
    #section-3 {
    padding: 0px !important;
}
    h4 {
    font-size: 18px;
    font-weight: 400;
}
    h1 {
    font-size: 25px;
    font-weight: 300;
    color: 
    #000000;
}
    .btn.btn-pink {
    background: 
#f95184;
color:
    #fff;
    padding: 7px 25px;
    font-weight: 600;
    display: inline-block;
    margin-top: 11px;
}
    .display-none{
    display: none;
}
    .navbar-light .navbar-toggler {
    color: 
rgb(255, 255, 255);
border-color:
rgba(0,0,0,.1);
background:
    #f95184;
}

}
