<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.../../../assets/js/1.3.0/respond.min.js"></script>
      <![endif]-->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Tulpan</title>
      <!-- Bootstrap Core CSS -->
      <link href="../../../assets/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900&display=swap" rel="stylesheet">
      <link href="../../../assets/css/style.css" rel="stylesheet" type="text/css">
   </head>
   <!-- ------------------header-------------->
   <body>
  <nav class="navbar navbar-expand-md bg-white py-1 navbar-light fixed-top">
         <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="">
               <div class="logo"><img src="../../../assets/images/logo.png" class="img-fluid" alt=""></div>
            </a>
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" id="btnTrigger" data-toggle="collapse" (click)="toggle()" data-target="#collapsibleNavbar">
            <span class=""><i class="fa fa-align-left" aria-hidden="true"></i></span>
            </button>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
             
               <ul class="nav navbar-nav ml-auto">
                   <li class="nav-item">
                    <a href="" class="nav-link"> ﺔﻳﺪﻳﺮﺒﻟا ةﺮﺸﻨﻟا </a>
                  </li>
                   <li class="nav-item">
                    <a href="" class="nav-link"> ﺔةنودملا  </a>
                  </li>
                   <li class="nav-item">
                    <a href="" class="nav-link"> ﺔنابلوت نع  </a>
                  </li>
                   <li class="nav-item active">
                    <a href="" class="nav-link"> الرئيسية  </a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>



      <header class="">
         <div class="container">
          <div class="row">
                <div class="col-md-6 text-right py-5 d-sm-block d-lg-none d-md-none">
              <h1 class="text-center"> <span class="clr-dpink"></span>أفضل طريقة لإرسال الهدايا وباقات الزهور الطبيعية  <span class="clr-dpink">لأحبابكم </span> </h1>
               <p class=" py-2 text-center"> أو قم بتنزيل تطبيق تولبان   </p>
              
              

               <div class="text-center">
                  <a href=""><img src="../../../assets/images/googleplay.png" class="img-fluid" style="width: 110px" alt=""></a>
                  <a href=""><img src="../../../assets/images/app.png" class="img-fluid" style="width: 95px" alt=""></a>
                  <br>
                    <a href="" class=" btn btn-pink">نآلا قوست  </a>
               </div>



            </div>
            <div class="col-md-6">
              <img src="../../../assets/images/banner.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-6 text-right py-5 mt-5 display-none">
              <h1> <span class="clr-dpink"></span>أفضل طريقة لإرسال الهدايا وباقات الزهور الطبيعية  <span class="clr-dpink">لأحبابكم </span> </h1>
               <a href="" class="db btn btn-pink">نآلا قوست  </a>
               <p class="db pt-4 pb-3">انقيبطت ليزنتب مق وأ</p>

               <div class="db">
                  <a href=""><img src="../../../assets/images/googleplay.png" class="img-fluid" style="width: 110px" alt=""></a>
                  <a href=""><img src="../../../assets/images/app.png" class="img-fluid" style="width: 95px" alt=""></a>
               </div>

            </div>
          </div>
         </div>
      </header>
    
      <section id="section-1" class="">
         <div class="container">
        <div class="row">
          <div class="col-md-6 text-right">
            <h2 class="clr-pink pt-5 display-none">اانترتخأ اذامل  </h2>
            <p class="display-none">نمض ، قوستلاب نودعسيو نوعتمتسي انئالمع لعج ىلع اًمئاد يسيئرلا انزيكرتبصني .هاندأ تامدخلا مدقن ، فدهلا اذه</p>

            <h2 class="clr-pink text-center d-sm-block d-lg-none d-md-none">لماذا متجر تولبان ؟  </h2>
            <p class="text-center d-sm-block d-lg-none d-md-none">متجر الهدايا والزهور الأشمل على الإطلاق   <br>حيث يمكن للعميل شراء المنتجات أو إرسالها كهدية !  <br>(تتوفر خدمة الإشتراكات المنزلية الفاخرة) </p>

            <div class="media mt-4 rounded shadow p-3">
  <img src="../../../assets/images/icon1.png"  class="mr-3 " style="width:60px;">
  <div class="media-body">
    <h4>عيرسلا ليصوتلا  </h4>
    <p>ًءاسم 5 لبق تابلطلل مويلا سفنب   </p>
  </div>
</div>


            <div class="media mt-3 rounded shadow p-3">
  <img src="../../../assets/images/icon2.png"  class="mr-3 " style="width:60px;">
  <div class="media-body">
    <h4>عةرخافلا ايادهلا </h4>
    <p>يملاعلا ايادهلاو تاجتنملا ثدحأ </p>
  </div>
</div>


            <div class="media mt-3 rounded shadow p-3 mb-4">
  <img src="../../../assets/images/icon3.png"  class="mr-3 " style="width:60px;">
  <div class="media-body">
    <h4>عتاكارتشالا ةمدخ  </h4>
    <p> تاتابنلاو روهزلل يعوبسا/يرهش/يموي كارتشا   </p>
  </div>
</div>
          </div>
           <div class="col-md-6">
             <img src="../../../assets/images/m1.png" class="img-fluid d-block m-auto tab-im" style="width: 80%" alt="">
           </div>
        </div>

        <div class="bg-pink mt-4 d-sm-block d-lg-none d-md-none">
         
        
            <div class=" text-center py-4">
              <h4>يمكنكم تحميل التطبيق من هنا  </h4>
                <a href=""><img src="../../../assets/images/googleplay.png" class="img-fluid wd-100" style="width: 150px" alt=""></a>
                  <a href=""><img src="../../../assets/images/app.png" class="img-fluid wd-100" style="width: 141px" alt=""></a>
            </div>
          
        </div>

             <div class="bg-pink rounded w-75 m-auto display-none">
          <div class="row mt-4 ">
            <div class="col-md-6 pt-5">
              <img src="../../../assets/images/car.png" class="img-fluid" style="width: 50%" alt="">
            </div>
            <div class="col-md-6 text-right pr-5 pt-4">
              <h4>يمكنكم تحميل التطبيق من هنا  </h4>
                <a href=""><img src="../../../assets/images/googleplay.png" class="img-fluid wd-100" style="width: 150px" alt=""></a>
                  <a href=""><img src="../../../assets/images/app.png" class="img-fluid wd-100" style="width: 141px" alt=""></a>
            </div>
          </div>
        </div>
         </div>
      </section>
      <section id="section-2" class="pb-5">
         <div class="container text-center">
                 <h2 class="clr-pink">ةنودملا  </h2>
                 <p>ﺔﻴﻌﻴﺒﻄﻟا رﻮﻫﺰﻟا نع تاروشنملاو تﺎﻟﺎﻘﻤﻟا ﻦﻣ ﺮﻴﺜﻜﻟا كﺎﻨﻫ  <span class="d-block"> هناك الكثير من المقالات والدراسات حول الزهور الطبيعية والنباتات المنزلية وطريقة الاعتناء بها, وأكثر عبر مدونتنا </span></p>

                 <div class="row mt-5 tab display-none">
                   <div class="col-md-3 mt-5 pt-5 d-no">
                     <div class="card border-0 shadow-sm text-right mt-5 pt-5 ">
  <img class="card-img-top img-fluid d-block m-auto" src="../../../assets/images/Vector.png" style="width: 100px">
  <div class="card-body">
    <h5 class="card-title">تالاقملا نم ديزملا  </h5>
 
    <a href="#" class="clr-pink"><i class="zmdi zmdi-arrow-left zmdi-hc-fw"></i></a>
  </div>
</div>
                   </div>
                    <div class="col-md-3">
                                           <div class="card border-0 shadow-sm text-right">
  <img class="card-img-top img-fluid" src="../../../assets/images/pic1.png">
  <div class="card-body">
    <h5 class="card-title">تDIY ةقاب كسفنب عنصا ايادهلل   </h5>
 
  
  </div>
</div>
                    </div>


                     <div class="col-md-3">
                       
                           <div class="card border-0 shadow-sm text-right">
  <img class="card-img-top img-fluid" src="../../../assets/images/pic2.png">
  <div class="card-body">
    <h5 class="card-title">تDIY ةقاب كسفنب عنصا ايادهلل   </h5>
 
  
  </div>
</div>
                     </div>

                             <div class="col-md-3 db">
                     <div class="card border-0 shadow-sm text-right pt-5 ">
  <img class="card-img-top img-fluid d-block m-auto" src="../../../assets/images/Vector.png" style="width: 80px">
  <div class="card-body">
    <h5 class="card-title">تالاقملا نم ديزملا  </h5>
 
    <a href="#" class="clr-pink"><i class="zmdi zmdi-arrow-left zmdi-hc-fw"></i></a>
  </div>
</div>
                   </div>
                      <div class="col-md-3">
                            <div class="card border-0 shadow-sm text-right">
  <img class="card-img-top img-fluid" src="../../../assets/images/pic3.png">
  <div class="card-body">
    <h5 class="card-title">رياربف رهشل ةرهز ةيده لضفأ   </h5>
 
  
  </div>
</div>
                      </div>
                 </div>

                 <div class="d-sm-block d-md-none d-lg-none text-right">
                               <div class="media mt-3 rounded shadow p-3 mb-4">
  <img src="../../../assets/images/mob1.png"  class="mr-3 " style="">
  <div class="media-body">
    <h4>عرياربف رهشل ةرهز ةيده لضفأ </h4>
   
  </div>
</div>

                                               <div class="media mt-3 rounded shadow p-3 mb-4">
  <img src="../../../assets/images/mob2.png"  class="mr-3 " style="">
  <div class="media-body">
    <h4>عرياربف رهشل ةرهز ةيده لضفأ   </h4>
   
  </div>
</div>


                              <div class="media mt-3 rounded shadow p-3 mb-4">
  <img src="../../../assets/images/mob1.png"  class="mr-3 " style="">
  <div class="media-body">
    <h4>عرياربف رهشل ةرهز ةيده لضفأ </h4>
   
  </div>
</div>



                              <div class="media mt-3 rounded shadow p-3 mb-4">
  <img class="card-img-top img-fluid" src="../../../assets/images/Vector.png" style="width: 50px">
  <div class="media-body">
    <h4> تالاقملا نم ديزملا  <i class="zmdi zmdi-arrow-left zmdi-hc-fw clr-pink"></i>  </h4>
   
  </div>
</div>

                 </div>
         </div>
      </section>
     
      <section id="section-3" class="py-5">
         <div class="container">
           <h2 class="clr-pink text-center">ةيديربلا ةرشنلا  </h2>
           <p class="text-center">.نآلا ةيديربلا انترشن يف كرتشا ، انيدل ةيجيورتلا ضورعلاو ضورعلا ثدحأ توفت ال  </p>

           <form class="form w-50 m-auto">
  <div class="input-group mb-3">
    <div class="input-group-prepend border-0">
      <span class="input-group-text bg-pink ">نآلا كرتشا  </span>
    </div>
    <input type="text" class="form-control border-right-0" placeholder="ينورتكلإلا كديرب لخدأ  ">
   
      <div class="input-group-append">
      <span class="input-group-text bg-white border-left-0"> <i class="fa fa-envelope-o clr-pink" aria-hidden="true"></i></span>
    </div>
  </div>
</form>

         </div>
      </section>
 


    
      <!-- =================================Footer================================= -->
    
      <footer id="footer" class="">
         <div class="container">
          <div class="bg-white box">
            <div class="row text-right">
              <div class="col-md-3">
                <a href="" class="display-none"><img src="../../../assets/images/logo.png" class="img-fluid" alt=""></a>
                   <a href="" class="d-sm-block d-lg-none d-md-none"><img src="../../../assets/images/mlogo.png" class="img-fluid d-block m-auto" alt=""></a>
                <div class="pt-2 bg-lightpink">
                  <a href="" class="text-white d-block">sales@tulpan.shop <i class="fa fa-envelope-o ml-2" aria-hidden="true"></i></a>
                  <a href="" class="text-white d-block">+966-59-8899133<i class="fa fa-mobile-phone ml-4" aria-hidden="true"></i></a>
                  <div class="media">
  <div class="media-body text-white">
  Saudi Arabia (Riyadh, Jeddah, Dammam, Khobar, Madinah, Ahsa, Buraidah, Abha, Tabuk)
  </div>
  <i class="fa fa-map-marker ml-3 text-white" aria-hidden="true"></i>
</div>
                  <a href="" class="text-white d-block"></a>
                </div>
              </div>
              <div class="col-md-3">
                <div class="display-none">
                <h5 class="text-white pt-5">تامولعملا  </h5>
                <a href="" class="d-block text-white">ليصوتلا تامولعم  &nbsp; > </a>
                  <a href="" class="d-block text-white">ليصوتلا تامولعم  &nbsp; > </a>
                    <a href="" class="d-block text-white">ليصوتلا تامولعم  &nbsp; > </a>

                    </div>
                    <div class="d-sm-block d-md-none d-lg-none my-2 footer-form">
                      <select name="" id="" class="form-control">
                        <option value="">تامولعملا  </option>
                         <option value="">تامولعملا  </option>
                          <option value="">تامولعملا  </option>
                      </select>
                    </div>
              </div>
              <div class="col-md-3">
                 <div class="display-none">
                <h5 class="text-white pt-5">تامولعملا  </h5>
                  <a href="" class="d-block text-white">ليصوتلا تامولعم  &nbsp; > </a>
                    <a href="" class="d-block text-white">ليصوتلا تامولعم  &nbsp; > </a>
                      <a href="" class="d-block text-white">ليصوتلا تامولعم  &nbsp; > </a>
                    </div>
                         <div class="d-sm-block d-md-none d-lg-none my-2 footer-form">
                      <select name="" id="" class="form-control">
                        <option value="">تامولعملا  </option>
                         <option value="">تامولعملا  </option>
                          <option value="">تامولعملا  </option>
                      </select>
                    </div>
              </div>
              <div class="col-md-3">
                 <div class="display-none">
                <h5 class="text-white pt-5">تامولعملا  </h5>
                  <a href="" class="d-block text-white">ليصوتلا تامولعم  &nbsp; > </a>
                    <a href="" class="d-block text-white"> ليصوتلا تامولعم  &nbsp; > </a>
                      <a href="" class="d-block text-white">ليصوتلا تامولعم  &nbsp; >  </a>
                    </div>

                         <div class="d-sm-block d-md-none d-lg-none my-2 footer-form">
                      <select name="" id="" class="form-control">
                        <option value="">تامولعملا  </option>
                         <option value="">تامولعملا  </option>
                          <option value="">تامولعملا  </option>
                      </select>
                    </div>
              </div>
            </div>
          </div>
             <p class="text-white text-center py-4">2020 نابلوت ةيراجتلا ةمالعلل ةظوفحم قوقحلا عيمج  </p>
         </div>
      </footer>

     
        <!-- =========================
         End
         ============================== -->
      <!-- jQuery -->
      <script src="../../../assets/js/jquery-3.3.1.min.js"></script>
      <!-- Bootstrap Core JavaScript -->
      <script src="../../../assets/js/bootstrap.min.js"></script>
    
      <!-- Bootstrap Core JavaScript -->
          <script type="text/javascript">
         $(function () {
         $(document).scroll(function () {
           var $nav = $(".fixed-top");
           $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
         });
         });
      </script>
   </body>
</html>