<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top d-none d-sm-block">
	<div class="container">
  <!-- Brand -->
  <a class="navbar-brand" href="#"><div class="logo"><img src="../../../assets/images/logo.png"  class="img-fluid" alt=""></div></a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
       <li class="nav-item">
          <a class="nav-link" routerLink="">Home   </a>
        </li>
		
     
     
     
     
       <li class="nav-item">
        <a class="nav-link" href="#contact">  Contact </a>
      </li>  
    </ul>

    
  </div> 
  </div>
</nav>
<header id="top-j">
    <div class="overlay">
           <img src="../../../assets/images/bg1.png" class="img-fluid ps1" alt="">
         <img src="../../../assets/images/bg2.png" class="img-fluid ps2" alt="">
     </div>
   
     <div class="container h-100">
       <div class="d-flex h-100 text-center ">
         <div class="w-100 text-white">
          
      <h1 class="mt-5 pt-5">We're Hiring!</h1>
         </div>
       </div>
     </div>
   </header>
   
   <section id="section-j1">
   <div class="container ">
     <h2 class="text-white">COME JOIN OUR AWESOME TEAM</h2>
     <p class="text-white">Breaking the deadlock around the high cost of access 
   <span class="d-block"> to location based VR, mustering every idea we can to reduce </span>
   overheads and setup times for licensees.</p>
   
   <div class="row mt-5">
     <div class="col-lg-3 mb-3">
      <a href="jobdetail" class="text-dark">
       <div class="bg-white h-bx">
         <img src="../../../assets/images/c1.png" class="img-fluid d-block m-auto" alt="">
         <div class="p-4">
           <h4 class="text-uppercase">SENIOR GAME <br>
   DEVELOPER</h4>
   <p>We’re looking for a switched on senior game developer to lead a team of four in beautiful and vibrant Auckland (NZ).</p>
   
   <a href='jobdetail' class="text-dark">
   <button type="button" class="btn btn-primary btn-af rounded-0 bg-pr">Learn More</button></a>
         </div>
       </div>
       </a>
     </div>
      <div class="col-lg-3 mb-3">
        <a href="jobdetail" class="text-dark">
          <div class="bg-white h-bx">
         <img src="../../../assets/images/c2.png" class="img-fluid d-block m-auto" alt="">
         <div class="p-4">
           <h4 class="text-uppercase">Intermediate  <br>
   game developer</h4>
   <p>We’re looking for a switched on game developer to join a team of passionate artists, designers and developers in
   beautiful and vibrant Auckland (NZ).</p>
   
   <button type="button" class="btn btn-primary btn-af rounded-0 bg-o">Learn More</button>
         </div>
       </div>
       </a>
      </div>
       <div class="col-lg-3 mb-3">
         <a href="jobdetail" class="text-dark">
           <div class="bg-white h-bx">
         <img src="../../../assets/images/c3.png" class="img-fluid d-block m-auto" alt="">
         <div class="p-4">
           <h4 class="text-uppercase">TECHNICAL <br>
   ARTIST
   </h4>
   <p>We’re looking for a switched on technical artist to bring their flair and creativity to the team in beautiful and vibrant Auckland (NZ).</p>
   
   <button type="button" class="btn btn-primary btn-af rounded-0 bg-db">Learn More</button>
         </div>
       </div>
       </a>
       </div>
        <div class="col-lg-3 mb-3">
          <a href="jobdetail" class="text-dark">
            <div class="bg-white h-bx">
         <img src="../../../assets/images/c4.png" class="img-fluid d-block m-auto" alt="">
         <div class="p-4">
           <h4 class="text-uppercase">GAME WRITER / <br>
   NARRATIVE DESIGNER</h4>
   <p>We’re looking for a switched on writer to bring their flair and creativity to the team for a 4-6 month project (approx Aug-Dec).</p>
   
   <button type="button" class="btn btn-primary btn-af rounded-0 bg-bp">Learn More</button>
         </div>
       </div>
       </a>
        </div>
   
   
   
          <div class="col-lg-3 mb-3">
            <a href="jobdetail" class="text-dark">
            <div class="bg-white h-bx">
         <img src="../../../assets/images/c5.png" class="img-fluid d-block m-auto" alt="">
         <div class="p-4">
           <h4 class="text-uppercase">PROJECT MANAGER / <br>
   PRODUCER</h4>
   <p>We’re looking for a switched on project manager to wrangle a team of passionate artists, designers and developers in beautiful and vibrant </p>
   
   <button type="button" class="btn btn-primary btn-af rounded-0 bg-bp">Learn More</button>
         </div>
       </div>
       </a>
        </div>
   
   
       <div class="col-lg-3 mb-3">
         <a href="jobdetail" class="text-dark">
           <div class="bg-white h-bx">
         <img src="../../../assets/images/c6.png" class="img-fluid d-block m-auto" alt="">
         <div class="p-4">
           <h4 class="text-uppercase">INTERMEDIATE 3D <br>
   ANIMATOR
   </h4>
   <p>We’re currently looking for a mid/senior animator to help bring our game to life here in beautiful, vibrant Auckland, NZ for a 6-12 month contract (approx Feb - August 2020).</p>
   
   <button type="button" class="btn btn-primary btn-af rounded-0 bg-db">Learn More</button>
         </div>
       </div>
       </a>
       </div>
   
   
   
     <div class="col-lg-3 mb-3">
       <a href="jobdetail" class="text-dark">
          <div class="bg-white h-bx">
         <img src="../../../assets/images/c7.png" class="img-fluid d-block m-auto" alt="">
         <div class="p-4">
           <h4 class="text-uppercase">UI/UX <br>
   Designer</h4>
   <p>We’re looking for a switched on technical artist to bring their flair and creativity to the team in beautiful and vibrant Auckland (NZ).</p>
   
   <button type="button" class="btn btn-primary btn-af rounded-0 bg-o">Learn More</button>
         </div>
       </div>
       </a>
      </div>
   
   
   
    <div class="col-lg-3 mb-3">
      <a href="jobdetail" class="text-dark">
       <div class="bg-white h-bx">
         <img src="../../../assets/images/c8.png" class="img-fluid d-block m-auto" alt="">
         <div class="p-4">
           <h4 class="text-uppercase">Python <br>
   Developer </h4>
   <p>We’re looking for a switched on writer to bring their flair and creativity to the team for a 4-6 month project (approx Aug-Dec).</p>
   
   <button type="button" class="btn btn-primary btn-af rounded-0 bg-pr">Learn More</button>
         </div>
       </div>
       </a>
     </div>
   
   
   
   
       <div class="col-lg-3 mb-3">
         <a href="jobdetail" class="text-dark">
           <div class="bg-white h-bx">
         <img src="../../../assets/images/c9.png" class="img-fluid d-block m-auto" alt="">
         <div class="p-4">
           <h4 class="text-uppercase">PHP <br>
   Developer
   </h4>
   <p>We’re looking for a switched on game developer to join a team of passionate artists, designers and developers in
   beautiful and vibrant Auckland (NZ).</p>
   
   <button type="button" class="btn btn-primary btn-af rounded-0 bg-db">Learn More</button>
         </div>
       </div>
       </a>
       </div>
   
   
   
     <div class="col-lg-3 mb-3">
       <a href="jobdetail" class="text-dark">
          <div class="bg-white h-bx">
         <img src="../../../assets/images/c10.png" class="img-fluid d-block m-auto" alt="">
         <div class="p-4">
           <h4 class="text-uppercase">RUBY AND RAILS <br>
   PROGRAMER</h4>
   <p>We’re looking for a switched on technical artist to bring their flair and creativity to the team in beautiful and vibrant Auckland (NZ).</p>
   
   <button type="button" class="btn btn-primary btn-af rounded-0 bg-o">Learn More</button>
         </div>
       </div>
       </a>
      </div>
   
   
   
   
   
   </div>
   </div>
   
     
   <img src="../../../assets/images/bg-bottomj.png" class="w-100 ng-t " alt="">  
   </section>
   <footer id='contact'>
    <img src="../../../assets/images/bg-bottom.png" class="w-100  " alt="">
 <div class="container text-white">
   <div class="row ne-m mb-5">
     <div class="col-lg-6 ">
       <form action="" class="form px-4 pt-5 pb-4">
         <div class="row">
     <div class="col-lg-6">
       <input type="text" class="form-control" placeholder="Name">
     </div>
     <div class="col-lg-6">
       <input type="email" class="form-control" placeholder="Email">
     </div>
     <div class="col-lg-12 mt-3">
           <textarea class="form-control" id="" placeholder="Message" rows="3"></textarea>
     </div>
 
   </div>
  <button type="button" class="btn btn-primary btn-block mt-3 py-2">Send</button>
       </form>
     </div>
      <div class="col-lg-6">
        <h2>GET IN TOUCH</h2>
        <p>This email looks relativity insignificant but this humble address is a mighty crossroad, between the status quo, and your role in the future of entertainment, decisions decisions…</p>
      </div>
   </div>
 </div>
 <img src="../../../assets/images/line.png" class="img-fluid" alt="">
 <div class="container">
   <div class="row py-4">
     <div class="col-lg-6">
       <div class="social">
         <a href="#" class="fa fa-facebook pl-4"></a>
         <a href="#" class="fa fa-instagram"></a>
         <a href="#" class="fa fa-twitter"></a>
         <a href="#" class="fa fa-youtube"></a>
       </div>
     </div>
       <div class="col-lg-6">
         <p class="text-right">2019 © Copyrights Beyond Studio LTD</p>
       </div>
   </div>
 </div>
   </footer>